body, p, form, form input, #wrap, #lightback, #main-wrap{
    padding: 0;
    margin: 0;
    line-height: 1.0;
}
body{
    font-family: sans-serif;
    background-color: rgb(48, 48, 48);
}
#wrap{
    width: 800px;
    margin: 50px auto;
    background-color: rgb(48, 48, 48);
}
#lightback {
   background-color: #efe6d3;
}
#main-wrap{
    background-color: #fffaee;
    -moz-box-shadow: 0 3px 5px -2px #888;
    -webkit-box-shadow: 0 3px 5px -2px #888;
    box-shadow: 0 3px 5px -2px #888;
}
#main{
    width: 100%;
    background-color: #fffaee;
    clear: both;
}
#seacrch-login{
    width: 100%;
    height: 20px;
    background-color: rgb(48, 48, 48);
}
#home-login{
    width: 100%;
    height: 20px;
    background-color: rgb(48, 48, 48);
}
#back-linkage{
    float: left;
    text-align: left;
    font-size: 12px;
    color: #91B6C3;
    padding-left: 10px;
}
#back-linkage a{
    text-align: left;
    font-size: 12px;
    /*color: #91B6C3;*/
    color: #eeeeee;
    text-decoration: none;
}
#back-linkage a:hover{
    color: #FFB503;
}
#back-linkage span{
    color: #91B6C3;
}
.login{
    /*padding: 0;*/
    /*margin: 0;*/
    float: right;
    margin-bottom: 20px;
}
.login a{
    color: #cccccc;
    font-size: 14px;
    text-decoration: none;
    text-align: right;
    padding-right: 10px;

}
.login a:hover{
    color: #4da2be;
}

#main-top{
    width: 100%;
    height: 25px;
}
#title-top{
    height: 100px;
    padding-left: 35px;
}
#main-bottom{
    width: 100%;
    height: 35px;
    float: left;
}
#view-wrap{
    float: left;
    margin-left: 25px;
}
#view{
    width: 250px;
    border: 10px solid #f8f4ef;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    overflow:hidden;
}
#view  img, #view-wrap img{
    height: 100%;
}
.img-series{
    height: 320px;
}

.img-episode{
    height: 170px;
}
#under-view-left{
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}
.review_wrap{
    clear: both;
}
.review_left1{
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}
.review_right1{
    float: right;
    padding-top: 10px;
}
.rev_like{
    width: 45px;
}
.rev_like span:hover{
    font-weight: bold;
    color: #0BAF0B !important;
}
.rev_edit{
    width: 25px;
}
.rev_edit span:hover{
    font-weight: bold;
    color: #104FFF !important;
}
.rev_delete{
    width: 25px;
    color: #A91111;
}
.rev_delete span{
    color: #A91111;
}
.rev_delete span:hover{
    color: red;
}
.review_row{
    clear: both;
}
.tab-left{
    float: left;
}
.tab-right{
    float: right;
}
.rev_text{
    text-align: justify;
    width: 380px !important;
    text-decoration: none !important;
}
.rev_text a{
    text-align: justify;
    width: 380px !important;
    text-decoration: none !important;
}
.rev_text a:hover{
    color: #333333  !important;
    font-weight: bold !important;
}

.fixheight2{
    height: 245px;
}

#wrapper{
    margin-left: 295px;
}
#info-stat{
    float: left;
    width: 120px;
    font-size: 14px;
}
.height3{
    height: 100px;
}

#more-info{
    width: 330px;
    /*height: 280px;*/
    float: right;
    overflow: auto;
    text-align: justify;
    color: #8c8b89;
    font-size: 14px;
}
#create_new{
    font-size: 14px;
    text-align: right;
    padding: 0 40px 5px 0;
}
#info_wrapper{
    font-size: 14px;
}
#info-block{
    width: 475px;
    /*padding-top: 5px;*/
    float: right;
    /*overflow:hidden;*/
    overflow: auto;
    color: #8c8b89;
    margin-right: 25px;
}
#info_wrapper .ser-title {
    padding-bottom: 0px;
}
#series-list, #season-list, #episod-list {
    margin: 0px;
    list-style-type: none;
    line-height: 150%;
    padding-left: 20px;
}
/*#season-list {
    line-height: 150%;
}*/
/*#episod-list {
    line-height: 150%;
}*/

.rate, .stars{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #666666
}
.val-rate{
    font-size: 14px;
    color: #4da2be;
}
.blue{
    color: #4da2be;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.blue:hover{
    color: #C28A91;
}
.time{
    font-style: italic;
    font-size: 14px;
    color: #555555;
    padding: 0 0 5px 0;
}
.ser-title{
    color: #4da2be;
    padding-bottom: 10px;
    /*line-height: 1.0;*/
    /*font-family: sans-serif !important;*/
    font-size: 28px;
}
.season-title{
    color: #4da2be;
    font-size: 20px;
}
.epis-title{
    color: #4da2be;
    font-size: 18px;
    padding-left: 100px;
}
form{
    /*float: right;*/
    /*margin-right: 35px;*/
}
#text p{
    padding-right: 5px;
    color: #555555;
    text-align: justify;
    line-height: 20px
}
.txt_16{
    font-size: 16px;
}
.txt_14{
    font-size: 14px;
}

/*============== menu =================*/
#menu {
    margin: 0;
    padding: 0;
    clear: both;
}

#menu .hr {
    margin: 0;
    padding: 20px 50px 20px 50px;
}

#menu .hr li  {
    display: inline;
    font: 14px Arial;
    color: #090909;
    margin-right: 5px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 2px solid #ADADAD;
    border-left: 1px solid #CCCCCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 6px;
    cursor: pointer;
}

#menu .hr li a {
    color: #090909;
}

#menu .hr li:hover, #menu .hr li a:hover {
    background-color: #4da2be;
    color: #ffffff;
}


#menu .hr .inactive div:hover {
    font-weight: bold;
    background-color: red;
    color: #eeeeee;
}

#menu .hr .inactive {
    background-color: #CCCCCC;
    color: #ffffff;
}
#menu .back, #menu .forward {
}

#menu  .delete_btn{
    margin-left: 30px !important;
    /*text-decoration: none;*/
}
#menu a{
    /*margin-left: 30px !important;*/
    text-decoration: none;
}
#menu  .delete_btn:hover{
    background-color: #AA1133 !important;
    color: #eeeeee;
}
.dummybtn{
    border: none !important;
    width: 30px;
    cursor: default !important;
}
.dummybtn:hover{
    background-color: #fffaee !important;
}


/*==============  =================*/



.ep-qty {
    padding-left: 12px;
}

.list-hr{
    margin: 0;
    padding: 0px 50px 0px 50px;
}


.list-hr li{
    display: inline;
    cursor: pointer;
    padding-right: 10px;
}

.list_exist li{
    cursor: default !important;
}
.list-episodes{
    /*padding-top: 20px;*/
    padding: 10px 0 0 0 !important;
    text-align: center;
}

.cur_episode {
    color: #8E8D8B;
    font: 22px Arial !important;
    font-weight: bold !important;
    text-decoration: none;
    cursor: default;
}
.nocur_episode {
    /*font: 14px Arial !important;*/
    font-size:14px  !important;

}

.isFalse{
    font-size: 14px;
    font-weight: bold;
    padding: 0 7px;
    opacity: 0.9;
    background-color: rgba(244, 192, 102, 0.4);
}
.isTrue{
    font-size: 14px;
    font-weight: bold;
    padding: 0 7px;
    color: #ffffff;
    background-color: #29AFD8;
}
#view-small{
    height: 95px;
    padding-left: 35px;
}
#view-small  img{
    height: 100%;
}

/*## ========== plugs ============*/
.padleft1{
    padding-left: 0px;
}
.padleft2{
    padding-left: 30px;
}
.padleft3{
    padding-left: 60px;
}
.padtop1{
    padding-top: 10px;
}
.padtop2{
    padding-top: 5px;
}
.padtop3{
    padding-top: 20px;
}
.padtop4{
    padding-top: 30px;
}
.height1{
    min-height: 350px;
}
.height2{
    min-height: 240px;
}
.height3{
    height: 330px;
}
.fixheight1{
    height: 267px;
}
.fixheight2{
    height: 295px;
}
.fixheight3{
    height: 256px;
}
.fixheight4{
    height: 252px;
}
/*## ==========  ============*/
/*## ========== FORMS - search, newedit, filter ======*/
#filter_block{
    padding: 10px 0 0px 10px;
}
#filter_block, #newedit_block{
    font-size: 14px;
}
#newedit_block{
    padding: 5px 0 0px 40px;
}
#newedit_block p{
    padding: 0px 0 2px 0px;
}
#newedit_block label{
    display: inline-block;
    float: left;
    width: 150px;
}
#newedit_block SELECT{
    width: 252px;
}
#newedit_block input{
    font-size: 14px;
    width: 250px;
    height: 20px;
}
#id_image_series, #id_image_episode {
    margin: 1px 0 2px 0;;
}

#newedit_block textarea{
    resize: vertical;
    font: 14px Arial;
    color: #8E8D8B;
    width: 250px;
    height: 30px;
}

#newedit_block #id_istorrent, #newedit_block #id_viewed,
#newedit_block #id_active, #newedit_block #id_tosearch {
    width: 40px !important;
    display: inline-block;
}
/*## - - - - - - - - - -  - */
.filter_ul{
    font-size: 14px;
    font-weight: bold;
    color: #8E8D8B;
    float:left;
    margin: 0px;
    list-style-type: none;
}
#filter_block .filter_li{
    padding-bottom: 7px;
}

#newedit_block .filter_li{
    padding: 0 0 2px 0;
}

.filter_ul SELECT{
    font-size: 14px;
    text-align: right;
}
.filter_ul submit{
    font-size: 14px;
}
.filt-left{
    float: left;
    width: 92px;
}
.filt-right SELECT{
    margin-left: 8px;
    width: 100px;
}

.filter_li{
    clear: both;
}
/*## - - - - - - - - submits - -  - */

#filter_submit{
    margin-top: 4px;
    float:right;
}
#newedit_submit{
    margin-top: 10px
}
#filter_submit, #newedit_submit{
    height: 30px !important;
    width: 150px !important;
}
#filter_submit, #newedit_submit, #search_submit{
    background-color: #f2f2f2;
    font: 14px Arial;
    color: #090909;
    margin-right: 5px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 2px solid #ADADAD;
    border-left: 1px solid #CCCCCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}
#filter_submit:hover, #newedit_submit:hover{
    background-color: #4da2be;
    color: #ffffff;
}

#search_form input{
    font-size: 14px;
}
#search_submit{
    font-size: 14px;
    margin-left: 5px;
    height: 22px;
    width: 75px;
    float:left;
    width: 65px;
}

#search_submit:hover{
    background-color: #4da2be;
    color: #ffffff;
}
#search_text{
    float:left;
    font-size: 14px;
    display: inline-block;
    width: 150px;
    height: 18px;
}
/*## - - - - - - - - - -  - */
.val_note{
    font: 14px Arial;
    color: #8E8D8B;
}
.create_newreview_form label{
    /*background: red !important;*/
    display: none !important;
}
.create_newreview_form textaria{
    width: 300px !important;
}

.create_newreview_form #id_text{
    width: 420px !important;
    height: 100px !important;
    padding: 0 !important;

}

.is_author span, .anonimous span{
    color: #8c8b89 !important;
}
.is_author span:hover, .anonimous span:hover{
    color: #8c8b89 !important;
    font-weight: normal;
}

#login_form{
    margin-left: 20px;
}
#login_form label{
    width: 100px;
    height: 30px;
}

#login_form input{
    width: 200px;
    height: 30px;
    padding-left: 5px;

}

.register{
    margin-top: 20px;
    width: 450px;
}
.register input{
    margin-bottom: 3px;
}
.register .helptext{
    display: block;
    padding-bottom: 3px;
    margin-left: 150px;
     width: 250px;
}

.register #newedit_submit{
    margin: 30px 0 0 50px;

}
.reg_title{
    padding-left: 30px;
    /*text-align: center;*/
}


/*## - - - - - - - - footer - -  - */

#footer{
    /*height: 30px;*/
    clear: both;
}
.footer_left{
    float: left;
    padding: 5px 0 0 10px;

}
.footer_right{
    float: right;
    padding: 5px 0 0 10px;

}
.copyr{
    padding-top: 8px !important;
    /*margin-top: 7px !important;*/
    font-size: 11px;
}
#switcher{
    height: 25px;
    width: 50px;
    margin-left: 85%;
    padding-top: 5px;
}
.switch-line {
    width: 100%;
}
.closed, .opened{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#gallery{
    height: 135px;
    padding-left: 35px;
}
.thumbs{
    width: 150px;
    height: 100px;
    float: left;
    margin: 10px 0 0 25px;
}
.thumbs img{
    width: 100%;
    height: 100%;
}

.hidden{
    display: none;
}

/*## - - - - - - - -  - -  - */

