{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

  <div id="view-wrap">
    <div id="view" class="img-series">
          {% if  series.image_series %}
            <img src="{{ series.image_series.url }}" alt="Picture for series" />
          {% else %}
            <img src="{% static "img/default_image_ser.jpg" %}" alt="Picture for series" />
          {% endif %}
    </div>
    <div id="under-view">
      <div id="under-view-left">
      </div>
      <div id="under-view-left">
      </div>
    </div>
  </div>


    <div id="wrapper">
      <div id="info-block" class="height1">
        <div class="ser-title">{{ series.title }}</div>
        <div id="create_new">
          <a href="/vicat/{{ series_id }}">Отмена - вернуться к сериалу</a>
        </div>

        <form id="newedit_block" class="filter_ul" action="/vicat/edit_series/{{ series_id }}" method="post"  enctype="multipart/form-data" >
            {% csrf_token %}
              {{ form.as_p }}
            <input id="newedit_submit" type="submit" name="submit" value="Подтвердить">
        </form>

      </div>
    </div>
{% endblock %}

{% block underground %}
{% endblock %}
